@use 'styles/config/variables' as var;
@use 'styles/config/mixins' as *;

.full-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}

.no-select {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.center-spacing {
	padding: 75px 0 75px;

	@include smScreen {
		padding: 40px 0 40px;
	}
}

.top-spacing {
	padding: 75px 0 0px;

	@include smScreen {
		padding: 25px 0 0;
	}
}

.bottom-spacing {
	padding: 0 0 75px;

	@include smScreen {
		padding: 0 0 25px;
	}
}
