@font-face {
	font-family: MaisonNeue-Extended;
	src: local(MaisonNeueExtended-Book),
		url(/fonts/MaisonNeueExtended-Book.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: MaisonNeue-Extended;
	src: local(MaisonNeueExtended-Medium),
		url(/fonts/MaisonNeueExtended-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: MaisonNeue-Extended;
	src: local(MaisonNeueExtended-Bold),
		url(/fonts/MaisonNeueExtended-Bold.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@mixin Display-1 {
	font-family: MaisonNeue-Extended;
	font-size: 64px;
	font-weight: bold;
}

@mixin Display-2 {
	font-family: MaisonNeue-Extended;
	font-size: 48px;
}

@mixin Headline-1 {
	font-family: MaisonNeue-Extended;
	font-size: 40px;
	font-weight: 500;
}

@mixin Headline-2 {
	font-family: MaisonNeue-Extended;
	font-size: 32px;
	font-weight: bold;
}

@mixin Headline-3 {
	font-family: MaisonNeue-Extended;
	font-size: 32px;
	font-weight: 500;
}

@mixin Headline-4 {
	font-family: MaisonNeue-Extended;
	font-size: 24px;
	font-weight: 500;
}

@mixin Headline-5 {
	font-family: MaisonNeue-Extended;
	font-size: 24px;
	font-weight: normal;
}

@mixin Headline-6 {
	font-family: MaisonNeue-Extended;
	font-size: 24px;
}

@mixin Paragraph-Big {
	font-family: MaisonNeue-Extended;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.25;
}

@mixin Paragraph-Bold {
	font-family: MaisonNeue-Extended;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
}

@mixin Paragraph {
	font-family: MaisonNeue-Extended;
	font-size: 16px;
}
