.interests {
	text-align: center;
	padding: 100px 0 0;

	ul {
		display: flex;
		list-style: none;
		width: fit-content;
		margin: 0 auto;

		li {
			&:not(:last-child) {
				margin-right: 58px;
			}

			button {
				background-color: white;
				background: none;
				color: grey;
				border: 0;
				padding: 10px 25px;

				.type {
					font-weight: 100;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
			&.activeTab {
				button {
					color: white;
				}
			}
		}
	}
	.row {
		justify-content: center !important;

		.item {
			img {
				display: inline;
			}
		}
	}
}
